<header>
    <div class="main-navbar">

        <a class="site-logo page-scroll" href="#page-top">
          <img src="../img/pickle_logo.svg">
        </a>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Partnering with your business to design web products</h1>
            <hr>
            <p>We use a user centered and research driven approach to design elegant web products</p>
            <a href="mailto: sam@pickle-studio.co" class="page-scroll">GET IN TOUCH</a>
        </div>
    </div>
</header>
