<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we do</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-12 section-card" id="design-research">
            <div class="section-card__img-wrap">
              <div class="section-card__img"></div>
            </div>
            <div class="section-card__content-wrap">
              <div class="section-card__content">
                <h3>Design research</h3>
                <div class="green-line"></div>
                <ul>
                  <li>Understanding your business and identifying your audience</li>
                  <br>
                  <li>Problem solving through collecting insights using qualitative research methods</li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!--end of section-->
        <div class="row">
          <div class="col-lg-12 section-card" id="ui_ux">
            <div class="section-card__img-wrap">
              <div class="section-card__img"></div>
            </div>
            <div class="section-card__content-wrap">
              <div class="section-card__content">
                <h3>UX/UI design</h3>
                <div class="green-line"></div>
                <ul>
                  <li>Ideation, user flows, sketching and wire framing</li>
                  <br>
                  <li>Visual design</li>
                  <br>
                  <li>Creating interactive prototypes</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 section-card" id="user-testing">
            <div class="section-card__img-wrap">
              <div class="section-card__img"></div>
            </div>
            <div class="section-card__content-wrap">
              <div class="section-card__content">
                <h3>Usability testing</h3>
                <div class="green-line"></div>
                <ul>
                  <li>Validating designs through user testing</li>
                  <br>
                  <li>Identifying critical issues to fix</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-12 section-card" id="product-audit">
          <div class="section-card__img-wrap">
            <div class="section-card__img"></div>
          </div>
          <div class="section-card__content-wrap">
            <div class="section-card__content">
              <h3>Product audits (for existing products)</h3>
              <div class="green-line"></div>
              <ul>
                <li>Reviewing product usability and user experience through expert review and user testing</li>
                <br>
                <li>Create prioritized list of next steps</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!--end of container-->



</section>
