  <aside class="">
      <div class="container">
          <div class="call-to-action row">
            <div class="col-lg-2 ux-workshop">
              <img src='../img/UX-workshop-logo.svg' alt="ux workshop logo">
            </div>
              <div class="col-lg-10 ptl">
                <h2>Need User Experience (UX) training for your team?</h2>
                <p>We run personalized workshops designed for specific needs of your team.</p>
              </div>
          </div>
      </div>
  </aside>
